.card {
    max-width: 400px;
    width: auto;
    padding: 7px;
    background: #fff;
    border-radius: 8px;

    & .for-rent-button {
        background: #fff;
        color: #363ae3;
        text-transform: capitalize;
        border-radius: 20px;
        padding: 3px 10px;
        font-weight: 600;
        font-size: 12px;

        &:hover{
            background: #fff;
            color: #363ae3;
        }
    }

    & .image-top-container {
        position: absolute;
        top: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        margin: auto;

        & .favorite-icon-container {
            background: #fff;
            padding: 3px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            & .favorite-icon {
                fill: #363ae3;
            }

        }
    }

    & .card-heading {
        font-size: 18px !important;
        font-weight: bold;
        color: #282828;
        margin-top: 10px;
    }

    & .feature-section {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        & .feature-section-item {
            border-right: 1px solid #f0f1f2;
            padding: 0 10px;

            &:nth-last-child(1) {
                border: none;
            }

            & .feature-section-heading {
                color: '#282828';
                margin-top: 5px;
            }
        }
    }

    & .price {
        color: #363ae3;
        font-weight: bold;
    }

    & .card-button {
        text-transform: capitalize;
        ;
        border: 1px solid #363ae3;
        color: #363ae3;
        border-radius: 20px;
        padding: 5px 15px;
        font-weight: 500;
        font-size: 12px;
    }

    // &:hover {
    //     & .card-button {
    //         background: #363ae3;
    //         border: 1px solid #363ae3;
    //         color: #f5f5f5;

    //     }
    // }
}

.show-more-button {
    text-transform: capitalize !important;
    border: 1px solid #363ae3 !important;
    background: #363ae3 !important;
    color: #f5f5f5 !important;
    border-radius: 20px !important;
    padding: 5px 20px !important;
    font-weight: 500;
    margin-top: 20px !important;
    text-align: center !important;

    // &:hover {
    //     background: none !important;
    //     border: 1px solid #363ae3 !important;
    //     color: #363ae3 !important;

    // }
}