.grid-container {
    max-width: 1300px !important;
    margin: auto !important;
    width: auto !important;

    & .category-items {
        background: #ececfc;
        color: #282828;
        text-transform: capitalize;
        border-radius: 20px;
        padding: 5px 20px;
        margin-right: 20px;
        font-weight: 500;

        &:hover {
            background: #363ae3;
            color: #f5f5f5;
        }
    }

    & .view-all {
        text-transform: capitalize;
        ;
        border: 1px solid #363ae3;
        color: #363ae3;
        border-radius: 20px;
        padding: 5px 20px;
        font-weight: 500;

        &:hover {
            background: #363ae3;
            color: #f5f5f5;
            border: 1px solid #363ae3;

        }
    }
}